// Media Queries
$small: 320px;
$medium: 600px;
$large: 1000px;

// Grid
$maxWidth: 1200px;

// Colors
$white: white;
$black: #2c3e50;
$cloud: #ecf0f1;
$grey: #bdc3c7;
$success: #3498db;
$error: #e74c3c;
